
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }


header {
display: flex;
align-items: center;
background: url(./images/bergkamp.jpg);
width: 99vw;
height: 99vh;
opacity: 2;
}

.div-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  text-align: center;
  width: 50%;
    
}

.title {
    position: relative;
    color: #ffde22;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
   }


   /* SECTIONS  HEADLINES*/

   .sections {
     margin: 100px auto;
     width: 30%;
     text-align: center;
     color: #ffde22;
     background-color: #c70d3a;
     border-top-left-radius: 20%;
     border-bottom-right-radius: 20%;
   }

   .sections h1 {
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
   }



  /* CAREER INFO  */

  #career-info {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    font-family: sans-serif;   
    }

  .career-text {
    display: flex;
    flex-direction: column;
    width: 550px;
    text-align: justify;
    padding: 20px 30px;
    margin: 0 30px;
    line-height: 30px;
    background-color: #ffde22;
    border-radius: 10%;
    
    }

    .career-text p {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #c70d3a;
      font-family: 'Montserrat';
    }

    .career-text h2 {
      text-align: center;
      color:#c70d3a;
      margin-bottom: 5px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
    }



 /* QUOTE PICTURE */

 #img-div {
   display: flex; 
   align-items: flex-end;
   justify-content: flex-end;
   
   background: url(/images/technique.jpg);
   width: 95vw;
   height: 95vh;
   margin: 0 auto;
   border: 10px solid #ffde22;
   border-top-right-radius: 65%;
   border-bottom-left-radius: 65%;
   border-top-left-radius: 5%;
   border-bottom-right-radius: 5%;
   }

 .quote {
   height: 100px;
   color: #ffde22;
   font-size: 30px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-right: 30px;
 }
  


/* GREAT GOALS VIDEOS */

#goals-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.goal {
  background-color: #ffde22;
  padding: 15px 15px;
  border-radius: 10%;
}

.goal-title {
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
 
}

.goal-title h2 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 7px 0;
  color: #c70d3a;
}

.small-title {
  width: 200px;
  background-color: #ffde22;
  height: 3px;
  border-radius: 50%;
  margin: 10px auto;
  
}

.goal-sub {
  width: 400px;
  color: #c70d3a;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px;
  text-align: justify;
}




/* HONOURS AND TITLES */

#awards-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  }

.club-titles, .individual-titles {
 width: 550px;
  padding: 20px 30px;
  margin: 0 30px;
  background-color: #ffde22;
  color: #c70d3a;
  border-radius: 10%;
}


#awards-div h1 {
font-weight: 600;
font-family: 'Montserrat', sans-serif;
text-align: center;
margin-bottom: 10px;
margin-top: 5px;
}

.club-titles h2 {
font-family: 'Montserrat', sans-serif;
font-weight: 600;

}

.club-titles ul {
  list-style: circle;
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.club-titles li {
  margin: 15px 0;
}

.club-logos {
  width: 45px;
  height: 35px;
  padding-right: 10px;
  position: relative;
  top: 10px;
}



.individual-titles ul {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.individual-titles li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 12px 0;
}

/* FACTS */

#facts {
  display: flex;
  flex-direction: column;
  text-align: center;
  }

.facts-title {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #c70d3a;
}

.facts-img {
  width: 250px;
  height: 250px;
  border: 2px solid #c70d3a;
  border-radius: 50%;
  padding: 20px 10px;
  margin: 5px 0 10px 25px;
}

.p-facts {
  padding: 5px 0;
  text-align: justify;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #c70d3a;
  width: 75%;
  margin: auto auto;
  padding-top: 20px;

}

.fact {
 display: flex;
 flex-direction: row;
 width: 75%;
 background-color: #ffde22;
 padding: 30px 0;
 margin: 30px auto;
 width: 800px;
 border-radius: 25%;
}

.fact-text {
  display: flex;
  flex-direction: column;
}


/* END */

.last-rule {

  height: 5px;
  margin: 50px auto;
  background-color: #c70d3a;
  border-radius: 50%;
  opacity: 0.9;
  width: 25%;
}

.final-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.final-div p {
  color: #c70d3a;
  font-size: 24px;
  margin-bottom: 10px;

}

.final-div a {
  font-size: 28px;
  font-style: italic;
  margin: 10px 0;
  color: #c70d3a;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}

footer {
  text-align: center;
  font-size: 18px;
  background-color: #c70d3a;
  color: #ffde22;
  padding: 50px 0;
}

























 


@media only screen and (max-width: 480px) {.header { font-size: 10px;}

#title { font-size: 15px;}

  .textd {display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  font-size: 12px;}

#tribute-info { font-size: 9px; }

#tribute-link { font-size: 9px; }

.link2 { font-size: 9px; } }
         
